@import './components/site-layout';

.index {
  .index__services {
    padding: 15px 10px;

    h2, .index__services__etc {
      text-align: center;
    }

    .index__services__animals {
      padding: 20px 0px;
    }

    .index__services__animal {
      padding: 5px 0;
      img {
        border-radius: 50%;
        width: 100%;
      }
    }

    p {
      text-align: center;
    }
  }

  .index__description {
    h1 {
      width: 100%;
      text-align: center;
      font-size: 1.4em;
    }
  }
}
