<section class="communication">
  <div class="gel-wrap">
    <div class="gel-layout gel-layout--flush">
      <div class="gel-layout-item gel-1/1">
        <section class="communication__email">
          <p>email: <a title="Email us" href="mailto:contact@purrsandpawsuk.com">contact@purrsandpawsuk.com</a></p>
        </section>

        <!-- <section class="communication__social">
          <ul class="communication__social__items">
            <li class="communication__social__items">
              <a title="Twitter" href="http://twitter.com/{{twitterAccount}}">
                <i class="fa fa-twitter-square" title="@{{twitterAccount}}"></i>
              </a>
            </li>
          </ul>
        </section> -->
      </div>
    </div>
  </div>
</section>