<section class="footer">
  <div class="gel-wrap">
    <div class="gel-layout gel-layout--flush">
      <div class="gel-layout__item gel-1/4@l gel-1/1">
        <section class="footer__logo">
          <img alt="Purrs and Paws logo" src="./images/logo2.png"/>
        </section>
        <section class="footer__social">
          <ul class="footer__social__items">
            <li class="footer__social__item">
              <a title="Twitter" href="http://twitter.com/{{twitterAccount}}">
                <i class="fa fa-twitter-square" title="@{{twitterAccount}}"></i>Twitter
              </a>
            </li>
            <li class="footer__social__item">
              <a title="Instagram" href="http://instagram.com/{{instagramAccount}}">
                <i class="fa fa-instagram" title="{{instagramAccount}}"></i>Instagram
              </a>
            </li>
            <li class="footer__social__item">
              <a title="Facebook" href="http://facebook.com/{{facebookAccount}}">
                <i class="fa fa-facebook-official" title="{{facebookAccount}}"></i>Facebook
              </a>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <div class="gel-layout">
      <div class="gel-layout__item gel-1/1">
        <section class="footer__copyright">
          &copy; Purrs &amp; Paws. All rights reserved
        </section>
      </div>
    </div>
  </div>
</section>