{{> ./communication.html }}
<header class="header header--theme-standard"> 
  <div class="gel-wrap"> 
    <div class="gel-layout  gel-layout--flush">
      <section class="gel-layout-item gel-1/3@l gel-1/1 header__firstItem"> 
        <div class="header__logo">
          <a title="Home" href="/">
            <img alt="Purrs and Paws logo" src="./images/logo2.png"/>
          </a>
          <div class="header__logo__summary"><span>pet sitting services</span></div>
        </div>       
      </section>

      <nav class="gel-layout-item gel-layout--center gel-2/3@l gel-1/1 header__navigation">
        <div class="header__navigation__items">
          <a title="About" href="/about">
            <div class="header__navigation__item header__navigation__item--first">
              About
            </div>
          </a>
          <a title="Service & Prices" href="/services">
            <div class="header__navigation__item">
              Services &amp; Prices
            </div>
          </a>
          <a title="Contact" href="/contact">
            <div class="header__navigation__item">
              Contact
            </div>
          </a>
        </div>
      </nav>
    </div>
  </div>
</header>
