<header class="header header--theme-standard">
  <section class="header__contact">
    <div class="header__contact__email">
      <p>email: 
        <a title="Email us" href="mailto:contact@purrsandpawsuk.com">contact@purrsandpawsuk.com</a>
      </p>
    </div>
    <div class="header__contact__social">
      <ul class="header__contact__social__items">
        <li class="header__contact__social__items">
          <a title="Twitter" href="http://twitter.com/{{twitterAccount}}">
            <i class="fa fa-twitter-square" alt="@{{twitterAccount}}"></i>
            <!-- <i class="header__contact__social__items__twitter" alt="@{{twitterAccount}}"></i> -->
          </a>
        </li>
      </ul>
    </div>
  </section>

  <nav class="header__navigation">
    <ul class="header__navigation__items">
      <li class="header__navigation__item"><a title="Home" href="/">Home</a></li>
      <li class="header__navigation__item"><a title="About" href="/about">About</a></li>
      <li class="header__navigation__item"><a title="Service & Prices" href="/services">Services &amp; Prices</a></li>
      <li class="header__navigation__item"><a title="Contact" href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
