<div class="mobile__navigation">
  <div class="gel-wrap">
    <nav class="gel-layout__item gel-layout--center gel-2/3@l gel-1/1">
      <div class="mobile__navigation__items">
        <div class="header__navigation__item header__navigation__item--first">
          <a title="About" href="/about">
            About
          </a>
        </div>
        <div class="mobile__navigation__item">
          <a title="Service &amp; Prices" href="/services">
            Services &amp; Prices
          </a>
        </div>
        <div class="mobile__navigation__item">
          <a title="Contact" href="/contact">
            Contact
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>
