<div class="gel-wrap">
  <div class="gel-layout gel-layout--flush">
    <div class="gel-layout__item gel1/1">
      <div class="mobile__contact">
        <section class="mobile__contact__email">
          <a title="Email us" href="mailto:contact@purrsandpawsuk.com">
            <i class="fa fa-envelope-o"></i><span>contact@purrsandpawsuk.com</span>
          </a>
        </section>
        <section class="mobile__contact__phone">
          <a title="Phone us" href="tel:{{phoneNumber}}">
            <i class="fa fa-phone"></i><span>07933822358</span>
          </a>
        </section>
      </div>
    </div>
  </div>
</div>
