$frame__background__colour: #000000;
$frame__text__colour: #dfdfdf;
$frame__text__colour--hover: #C5B358;

$primary__text__colour: #3b3c40;
$primary__background__colour: #FFF;

$secondary__text__colour: #dfdfdf;
$secondary__background__colour: rgb(84, 110, 122);

$tertiary__text__color: rgb(253,253,253);
$tertiary__background__color: rgb(122, 136, 116);
