@import './colour-scheme';

.communication {
  background-color: $frame__background__colour;
  padding: 5px 0px;

  .communication__email {
    padding-top: 2px;
    a {
      color: $frame__text__colour;
      text-decoration: none;
      padding-top: 2px;

      i {
        margin: 0;
        margin-right: 5px;
        font-size: 1.2em;
        color: $frame__text__colour;
      }
    }

    &:hover{
      a {
        color: $frame__text__colour--hover;
      }
      i {
        color: $frame__text__colour--hover;
      }
    }
  }

  .communication__social {
    text-align: right;

    .communication__social__items {
      list-style: none;
      margin: 0;

      .communication__social__item {
        display: inline;

        .fa {
          font-size: 1.5em;
          letter-spacing: 0;
          margin-right: 7px;
        }

        .fa-twitter-square {
          color: #0084b4;
        }

        .fa-instagram {
          color: $frame__text__colour;
        }

        .fa-facebook-official {
          color: #3b5998;
        }

        &:hover {
          .fa-twitter-square, .fa-facebook-official, .fa-instagram {
            color: $frame__text__colour--hover;
          }
        }
      }
    }
  }
}

//medium/small device tweeks
@media(max-width: 900px){
  .communication {
    display: none;
    .communication__email {
      padding-top: 0px;
      .fa {
        font-size: 3em;
      }
      span {
        display: none;
      }
    }

    .communication__social {

      .communication__social__items {
        .communication__social__item {
          .fa {
            font-size: 3em;
            margin-right: 15px;
          }
        }
      }
    }
  }
}
