$communication-text-color: #dfdfdf;
$communication-hover-text-color: #C5B358;

.communication {
  background-color: #000000;   
  padding: 5px 0px;

  .communication__email {  
    padding-top: 2px;
    a {
      color: $communication-text-color; 
      text-decoration: none;
      letter-spacing: 0;
      padding-top: 2px;

      i {
        letter-spacing: 0;
        margin: 0;
        margin-right: 5px;
        font-size: 1.2em;
        color: $communication-text-color;
      }
    }

    &:hover{
      a {
        color: $communication-hover-text-color;
      }
      i {
        color: $communication-hover-text-color;
      }
    }
  }

  .communication__social {
    text-align: right;

    .communication__social__items {
      list-style: none;
      margin: 0;

      .communication__social__item {
        display: inline;

        .fa {
          font-size: 1.5em;
          letter-spacing: 0;
          margin-right: 7px;
        }

        .fa-twitter-square {
          color: #0084b4;
        }

        .fa-instagram {
          color: $communication-text-color;
        }

        .fa-facebook-official {
          color: #3b5998;
          // background-color: $communication-text-color;
        }

        &:hover {
          .fa-twitter-square, .fa-facebook-official, .fa-instagram {
            color: $communication-hover-text-color;
          }
        }
      }
    }
  }
}

//medium/small device tweeks
@media(max-width: 900px){
  .communication {
    .communication__email {
      padding-top: 0px;
      .fa {
        font-size: 3em;
      }
      span {
        display: none;
      }
    }

    .communication__social {
      .communication__social__items {
        .communication__social__item {
          .fa {
            font-size: 3em;
            margin-right: 15px;
          }
        }
      }
    }
  }
}
