@import '../font-awesome/font-awesome';
@import './communication';

$header-text-color: #dfdfdf;
$header-background-color: rgb(84, 110, 122);

.header {
  padding: 20px 10px;
  background-color: $header-background-color;

  .header__logo {
    display: inline-block;
    img {
      width: 250px; 
    }
    .header__logo__summary {
      margin: 0;
      letter-spacing: 0.2px;
      font-weight: 200;
      margin-top: -16px;
      span {
        padding: 0px 7px;
        background-color: $header-background-color;
        color: $header-text-color;
      }
      text-align: center;
    }
  }

  .header__navigation {
    .header__navigation__items {    
        padding-top: 14px;
        
    }  

    .header__navigation__item {
      border-right: solid 1px $header-text-color;
      width: 180px;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 1px;
      font-size: 1em;

      a {
        color: $header-text-color; 
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: block;
        padding: 10px 0px;

        &:hover {
          color: $header-background-color;
        }
      }

      &:hover {
        background-color: $header-text-color;
        color: $header-background-color;
      }
    }

    .header__navigation__item--first {
      border-left: solid 1px $header-text-color;
    }
  } 
}

//Medium/small device tweeks
@media(max-width: 900px){
  .header {
    .header__firstItem {
      text-align: center;
    }

    .header__navigation {
      padding-top: 10px;
      .header__navigation__items {    
        padding: 0px;
      }

      .header__navigation__item {
        border: none;
        padding: 10px 0;
        width: 280px;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

@media(max-width: 450px){
  .header {
    .header__logo {
      img {
        width: 100%;
      }
    }
  }
}
