@import '../font-awesome/font-awesome';
@import './colour-scheme';
@import './communication';
@import './mobile-navigation';
@import './mobile-contact';

.header {
  padding: 20px 10px;
  background-color: $secondary__background__colour;

  .header__logo {
    display: inline-block;
    img {
      width: 250px;
    }
    .header__logo__summary {
      margin: 0;
      letter-spacing: 0.2px;
      font-weight: 200;
      margin-top: -16px;
      span {
        padding: 0px 7px;
        background-color: $secondary__background__colour;
        color: $secondary__text__colour;
      }
      text-align: center;
    }
  }

  .header__navigation {
    .header__navigation__items {
        padding-top: 14px;

    }

    .header__navigation__item {
      border: solid 1px $secondary__text__colour;
      width: 180px;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 1px;
      font-size: 1em;

      a {
        color: $secondary__text__colour;
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: block;
        padding: 10px 0px;

        &:hover {
          color: $secondary__background__colour;
        }
      }

      &:hover {
        background-color: $secondary__text__colour;
        color: $secondary__background__colour;
      }
    }

    .header__navigation__item--first {
      border-left: solid 1px $secondary__text__colour;
    }
  }
}

//Medium/small device tweeks
@media(max-width: 900px){
  .header {
    .header__firstItem {
      text-align: center;
    }

    .header__navigation {
      padding-top: 10px;
      .header__navigation__items {
        padding: 0px;
      }

      .header__navigation__item {
        border: none;
        padding: 10px 0;
        width: 280px;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

@media(max-width: 450px){
  .header {
    .header__logo {
      img {
        width: 100%;
      }
    }
  }
}
