@import '../node_modules/gel-sass-tools/sass-tools';
@import '../node_modules/sass-mq/mq';
@import '../node_modules/gel-grid/grid';
@import './header';
@import url(http://allfont.net/allfont.css?fonts=montserrat-light);

body {
  color: #3b3c40;
  font-size: 14px;
  font-family: 'Montserrat-light',sans-serif;
  margin: 0;
}

.site {
  .page-content {
    @include gel-wrap;
  }
}